name: Build SLCommandScript

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    
    - name: Setup Mono
      shell: bash
      run: |
        apt install mono-complete
        
    - name: Build, test and upload artifacts
      uses: Pogromca-SCP/build-nwapi-plugin@linux-support
      with:
        plugin-name: SLCommandScript
        refs-variable: SL_REFERENCES
        initial-test-runs: 0
        dependencies: SLCommandScript.Core,SLCommandScript.FileScriptsLoader
